{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Manage <b>Question Templates </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Question</button> </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>id</th>
                        <th>Question</th>  
                        <th>Answer</th>  
                        <th>Correct</th>  
                        <th>Randomize</th>
                        <th>Type</th>
                        <th>AOTA</th>
                        <th>NOTA</th>
                        <th>Enabled</th>
                        <th>Comments</th>
                        <th>Action</th>

                    </tr>


                   {% for row in question_templates %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.question}}</td>
                        <td>{{row.answer}}</td>
                        <td>{{row.correct}}</td>
                        <td>{{row.randomize}}</td>
                        <td>{{row.type}}</td>
                        <td>{{row.aota}}</td>
                        <td>{{row.nota}}</td>
                        <td>{{row.enabled}}</td>
                        <td>{{row.comments}}</td>

                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('update')}}" method="POST">

               <div class="form-group">
                  <label>Question:</label>
                  <input type="hidden"  name="id" value="{{row.id}}">
                  <input type="text" class="form-control" name="question" value="{{row.question}}">
               </div>

               <div class="form-group">
                  <label>Answer:</label>
                  <input type="text" class="form-control" name="answer" value="{{row.answer}}">
               </div>

               <div class="form-group">
                  <label>Correct:</label>
                  <input type="number" class="form-control" name="correct" value="{{row.correct}}">
               </div>

               <div class="form-group">
                  <label>Randomize:</label>
                  <input type="number" class="form-control" name="randomize" value="{{row.randomize}}">
               </div>

               <div class="form-group">
                  <label>Type:</label>
                  <input type="text" class="form-control" name="type" value="{{row.type}}">
               </div>

               <div class="form-group">
                  <label>AOTA:</label>
                  <input type="number" class="form-control" name="aota" value="{{row.aota}}">
               </div>

               <div class="form-group">
                  <label>NOTA:</label>
                  <input type="number" class="form-control" name="nota" value="{{row.nota}}">
               </div>

               <div class="form-group">
                  <label>Enabled:</label>
                  <input type="text" class="form-control" name="enabled" value="{{row.enabled}}">
               </div>

               <div class="form-group">
                  <label>Comments:</label>
                  <input type="text" class="form-control" name="comments" value="{{row.comments}}">
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>

            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Question Template</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert')}}" method="POST">


               <div class="form-group">

                  <label>Name:</label>
                  <input type="text" class="form-control" name="question" required="1">


               </div>


                <div class="form-group">


                  <label>Answer:</label>
                  <input type="text" class="form-control" name="answer" required="1">


               </div>


                <div class="form-group">


                  <label>Type:</label>
                  <input type="text" class="form-control" name="type" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Question Template</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}
